html {
    height: 95%;
}

body {
    
    background-color: #fafafa;
    height: 100%;
    background-image: url('imgs/back.png');
    background-attachment: fixed;
    background-size: cover;
}

#txt {
    line-height: 75px;
    color: rgb(255, 255, 255);
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    height: 15%;
}

footer {
    color: rgb(255, 255, 255);
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    height: 10%;
}

.note {
    height: 20%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.note div {
    color: rgb(96, 96, 96);
    background-color: rgb(201, 232, 155);
    width: 50%;
    
    text-align: center;
    padding: 50px;
}

.list {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list div {
    
    margin: 20px;
    transition: transform .2s;
    /*background-color: white;*/
    width: 200px;
    height: auto;
}

img {
    width:100%;
    height: auto;
}

.list div:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 

}